<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'LicenceTest' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>bac36e3d-a944-4a38-8577-ad05ba2b9672</InstrumentationKey>
</ApplicationInsights>